.hotel-tab {
  :global(.ant-tabs-nav) {
    margin: 0px !important;
  }
}
.nav-text {
  a:hover,
  a:focus,
  a.active-nav-text {
    color: var(--main-text-black);
    div {
      display: block;
      background-color: var(--primary-color-500);
    }
  }
}

.nav-button {
  svg {
    fill: white;
  }
  span {
    color: white;
  }

  a:hover,
  a:focus,
  a.active-nav-button {
    background-color: white;
    span {
      color: var(--main-text-black);
    }
    svg {
      fill: var(--main-text-black);
    }
  }
}
